.btn {
  border-radius:0 !important;
  &-outline {
    &-primary {
      border-color:$color-primary !important;
      color:$color-primary !important;
      &:hover {
        color:white !important;
      }
    }
  }
}

.overlay-btn {
  background: rgba(black, .7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-primary;
  border: 1px solid $color-primary;
  &:focus {
    outline:none;
  }

  &-danger {
    color:red;
    border: 1px solid red;
  }
}

.btn-circle {
  border-radius:50% !important;
}
