.value-card {
  input {
    width:100%;
    display:block;
    border:none;
    background:transparent;
    border-bottom:1px solid $color-primary;
    padding:5px 10px;
    color:white;
    margin-top:5px;
    text-align:center;
  }
}
