$color-primary: #007bff;
$color-background: #000D1A;

$color-epic: #841CE8;
$color-rare: #1399FF;
$color-uncommon: #00A113;
$color-common: #666;
$color-legendary: #E8AD0C;

$font-primary: 'Montserrat', sans-serif;

$desktop: 1200px;
$tablet: 992px;
$mobile: 768px;
$small: 524px;

$background-gradient-primary:linear-gradient(90deg, rgba(lighten($color-background, 5%), .95), rgba($color-background, 1));
$background-gradient-secondary:linear-gradient(0deg, rgba(lighten($color-background, 5%), .95), rgba($color-background, 1));
$background-gradient-third:linear-gradient(-180deg, rgba(lighten($color-background, 5%), .95), rgba($color-background, 1));
