<div class="container-fluid text-left" *ngFor="let champion of champion | async">
  <div class="champion">
    <div class="champion-stats">
      <div class="champion-image">
        <img class="{{champion.rarity}}"
          [src]="['../../../assets/images/champions/' + champion.name.replace(' ', '').replace(' ', '').replace('\'', '´').toLowerCase()+'.jpg']"
          alt="{{champion.name}}">
        <img class="faction-banner" [src]="['../../../assets/images/faction-banners/' + champion.faction.name+'.png']"
          alt="{{champion.name}}">
      </div>
      <div class="champion-details text-center">
        <h2><img *ngIf="champion.element" [src]="['../../../assets/images/elements/' + champion.element.toLowerCase()+'.png']"
            alt="{{champion.name}}">{{ champion.name }}</h2>
        <div class="stats">
          <div class="stat">
            <span>HP</span>
            {{champion.characteristics.hp}}
          </div>
          <div class="stat">
            <span>Attack</span>
            {{champion.characteristics.attack}}
          </div>
          <div class="stat">
            <span>Defense</span>
            {{champion.characteristics.defense}}
          </div>
          <div class="stat">
            <span>Speed</span>
            {{champion.characteristics.speed}}
          </div>
          <div class="stat">
            <span>Crit Rate</span>
            {{champion.characteristics.critical_rate}}
          </div>
          <div class="stat">
            <span>Crit Damage</span>
            {{champion.characteristics.critical_damage}}
          </div>
          <div class="stat">
            <span>Resistance</span>
            {{champion.characteristics.resistance}}
          </div>
          <div class="stat">
            <span>Accuracy</span>
            {{champion.characteristics.accuracy}}
          </div>
        </div>
        <div class="effects">
          <ng-container *ngFor="let skill of champion.skills">
            <ng-container *ngFor="let effect of skill.effects">
              <div class="effect" *ngIf="effect">
                <img [src]="['../../../assets/images/abilities/' + effect.image_slug.replace('-2', '') +'.png']" alt="">
                <span>{{effect.type}}</span>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="rating">
      <div class="ratings">
        <span>Campaign</span>
       <p>{{champion.rating.campaign}}</p>
      </div>
      <div class="ratings">
        <span>Clan Boss</span>
       <p>{{champion.rating.clan_boss_with_giant_slayer}}</p> 
      </div>
      <div class="ratings">
        <span>Arena Offense</span>
       <p>{{champion.rating.arena_offense}}</p> 
      </div>
      <div class="ratings">
        <span>Arene Defense</span>
        <p>{{champion.rating.arena_defense}}</p> 
      </div>
      <div class="ratings">
        <span>Dragon’s Lair</span>
        <p>{{champion.rating.dragon}}</p> 
      </div>
      <div class="ratings">
        <span>Ice Golem’s Peak</span>
        <p>{{champion.rating.ice_guardian}}</p> 
      </div>
      <div class="ratings">
        <span>Spider’s Den</span>
        <p>{{champion.rating.spider}}</p> 
      </div>
      <div class="ratings">
        <span>Fire Knight</span>
        <p>{{champion.rating.fire_knight}}</p> 
      </div>
      <div class="ratings">
        <span>Force Keep</span>
        <p>{{champion.rating.force_dungeon}}</p> 
      </div>
      <div class="ratings">
        <span>Magic Keep</span>
        <p>{{champion.rating.magic_dungeon}}</p> 
      </div>
      <div class="ratings">
        <span>Spirit Keep</span>
        <p>{{champion.rating.spirit_dungeon}}</p> 
      </div>
      <div class="ratings">
        <span>Void Keep</span>
        <p>{{champion.rating.void_dungeon}}</p> 
      </div>
    </div>
    <button class="btn btn-link mt-3" (click)="helpOverlay()">Rating Explanation</button>



    <h4 class="text-center">Masteries - Provided by <span class="text-primary"><a target="_blank" href="https://discord.gg/CXC2SP3">SHADOWBOT</a></span>
    </h4>
    <div class="masteries text-center pt-3">
      <p><span class="text-primary"><a target="_blank" href="https://discord.gg/CXC2SP3">SHADOWBOT</a></span> is made by players for players.</p>
      <p class="font-italic">"We try to arrange ourselves as much as possible to make our bot as optimal as possible. There are over 100
        masteries uploaded into our bot. The masteries are provided by players with experience and knowledge about the
        game. On a daily basis, we try to implement as many masteries as we can."</p>
      <p class="text-primary">- SHADOWBOT TEAM</p>
      <a class="btn btn-primary mt-4 mr-4" target="_blank" href="https://discord.gg/CXC2SP3">Go to SHADOWBOT</a>
      <button class="center-block btn btn-outline-primary mt-4" (click)="copyShadowbotCommand(shadowbotName)">
        {{ copied ? 'Champion Copied' : 'Copy Champion Command' }}
        <fa-icon *ngIf="copied" [icon]="faCheck"></fa-icon>
      </button>
    </div>

    <ng-adsense
      [adClient]="'ca-pub-2485646423395791'"
      [adSlot]="2779186363">
    </ng-adsense>

    <h4>Skills</h4>
    <ng-container *ngFor="let aura of champion.auras">
      <div class="aura" *ngIf="champion.auras"><span>Aura:</span> {{aura.raw_description}}</div>
    </ng-container>

    <div class="champion-skills">
      <ng-container *ngIf="champSkills.length > 0">
        <ng-container *ngFor="let skill of champSkills">
          <div class="champion-skill">
            <h5>
              <img
                [src]="['../../../assets/images/abilities/' + skill.image_slug +'.png']"
                alt="">
                {{skill.name}}
                <span *ngIf="skill.upgrades && skill.upgrades[0] && skill.upgrades[0].cooldown > 0"> - {{skill.upgrades[0].cooldown}}
                  turn cooldown</span>
                <span *ngIf="skill.passive">- passive</span>
            </h5>
            <p>{{skill.raw_description}}</p>
            <ng-container *ngFor="let upgrade of skill.upgrades; index as i">
              <p *ngIf="i > 0">{{upgrade.level}} - {{upgrade.raw_detail}}</p>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>

    </div>

    <h4 *ngIf="champion.guide_video_id">{{champion.name}} Video Guide</h4>
    <iframe *ngIf="champion.guide_video_id" width="560" height="400" [src]="guideUrl" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <disqus [identifier]="pageId" [url]="pageUrl"></disqus>
</div>



<div class="overlay" *ngIf="helpOverlayIsActive">
  <div class="help">
    <div class="btn btn-outline-primary mb-5" (click)="helpOverlay()">Close</div>
        <h5>explanation Ratings: </h5>
        <p><span class="text-primary">SS</span> - Godly</p>
        <p><span class="text-primary">S</span> - Excellent</p>
        <p><span class="text-primary">A</span> - Good</p>
        <p><span class="text-primary">B</span> - Situational</p>
        <p><span class="text-primary">C</span> - Early Game Viable</p>
        <p><span class="text-primary">D</span> - unusable</p>
    </div>
</div>