<ng-container *ngIf="champ && source === 'champs' && !hideChamp">
  <a
    snInViewport
    [ngClass]="{'remove-mode': removeMode || rosterMode}"
    class="champion-card {{ champ.rarity }} {{source}}"
    [routerLink]="['/champion-details', champ.faction.replace(' ', '-').replace(' ', '-').toLowerCase(),
    champ.name.replace(' ', '-').replace(' ', '-').replace('´', '-').replace('\'', '-').toLowerCase()]"
    queryParamsHandling="merge"
    [ngStyle]="{'background-image': 'url('+(screenshot|async)+')'}">
    <p>{{champ.name}}</p>
  </a>
  <button
    *ngIf="rosterMode"
    class="overlay-btn overlay-btn-primary"
    (click)="addChampToRoster(champ)">
    {{ !championAddedConfirmation ? 'Add Champion' : '' }}
    <fa-icon *ngIf="championAddedConfirmation" [icon]="faCheck"></fa-icon>
  </button>
  <button
    *ngIf="removeMode"
    class="overlay-btn overlay-btn-danger"
    (click)="removeChampFromRoster(champ)">
    Remove
  </button>
</ng-container>

<a
*ngIf="champ && showChamp && (source === 'builder' || source === 'team' || source === 'shards')"
  class="champion-card {{ champ.rarity }} {{source}}"
  [routerLink]="['/champion-details', champ.faction.replace(' ', '-').replace(' ', '-').toLowerCase(),
  champ.name.replace(' ',
  '-').replace(' ', '-').replace('´', '-').replace('\'', '-').toLowerCase()]"
  queryParamsHandling="merge"
  [ngStyle]="{'background-image': 'url('+(screenshot|async)+')'}">
</a>

<a
  *ngIf="source === 'teamShare'"
  snInViewport
  class="champion-card {{ champ.rarity }} {{source}}"
  [routerLink]="['/champion-details', champ.faction.replace(' ', '-').replace(' ', '-').toLowerCase(),
  champ.name.replace(' ',
  '-').replace(' ', '-').replace('´', '-').replace('\'', '-').toLowerCase()]"
  queryParamsHandling="merge"
  [ngStyle]="{'background-image': 'url('+(screenshot|async)+')'}">
  <p>{{champ.name}}</p>
</a>

<ng-container *ngIf="showChamp && source === 'team-edit'">
  <div class="champ-wrap">
    <a
      snInViewport
      class="champion-card {{ champ.rarity }} {{source}}"
      [routerLink]="['/champion-details', champ.faction.replace(' ', '-').replace(' ', '-').toLowerCase(),
      champ.name.replace(' ',
      '-').replace(' ', '-').replace('´', '-').replace('\'', '-').toLowerCase()]"
      queryParamsHandling="merge"
      [ngStyle]="{'background-image': 'url('+(screenshot|async)+')'}">
      <p>{{champ.name}}</p>
    </a>
    <fa-icon class="delete" (click)="removeChamp()" [icon]="faTrashAlt"></fa-icon>
  </div>
</ng-container>

<div class="roster-champion {{ champ.rarity }}"
  *ngIf="champ && (source === 'roster') && !hideChamp">
  <a snInViewport class="roster-champion-card" [routerLink]="['/champion-details', champ.faction.replace(' ', '-').replace(' ', '-').toLowerCase(),
    champ.name.replace(' ', '-').replace(' ', '-').replace('´', '-').replace('\'', '-').toLowerCase()]"
    queryParamsHandling="merge">
    <div class="roster-champion-img"
      [ngStyle]="{'background-image': 'url('+(screenshot|async)+')'}">
    </div>
    <div class="roster-champion-data">
      <p>{{champ.name}}</p>
    </div>
  </a>
  <div class="roster-champion-actions">
    <button class="btn btn-outline-danger" (click)="removeChampFromRoster(champ)">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
    </button>
  </div>
</div>

<div class="roster-champion roster-champion-share {{ champ.rarity }}"
  [ngStyle]="{'background-image': 'url('+(screenshot|async)+')'}"
  *ngIf="champ && (source === 'rosterShare') && !hideChamp">
  <a snInViewport class="roster-champion-card" [routerLink]="['/champion-details', champ.faction.replace(' ', '-').replace(' ', '-').toLowerCase(),
    champ.name.replace(' ', '-').replace(' ', '-').replace('´', '-').replace('\'', '-').toLowerCase()]"
    queryParamsHandling="merge">
    <div class="roster-champion-data">
      <p>{{champ.name}}</p>
    </div>
  </a>
</div>
