@import 'variables';
@import 'input';

champion-card:host {
  display:inline-block;
  height:auto;

  &.champs {
    position: relative;
    height: 150px;
    width: 150px;
    margin: 10% 0%;
  }

  &.builder {
    text-align: center;
  }

  .delete {
    color: red;
    display:inline-block;
    text-align: center;
    cursor:pointer;
  }

  .add {
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    border-radius:50%;
    text-align: center;
    position:absolute;
    bottom:0;
    font-size:22px;
    transform:translateY(-40px);
  }

  .remove-mode {
    pointer-events:none;
  }

  .overlay-btn-danger,
  .overlay-btn-primary {
    border-radius: 50%;
    .ng-fa-icon {
      font-size:24px;
    }
  }
  .overlay-btn-primary {
    opacity: 0;
    transition: opacity .25s ease-in-out;
  }
  &:hover {
    .overlay-btn-primary {
      opacity: 1;
    }
  }
}
.champion-card {
  height: 100%;
  width: 100%;
  display:flex;
  background-size:cover;
  background-position:50% 50%;
  border-radius:50%;
  align-items: flex-end;
  position:relative;
  justify-content: center;
  transform:scale(.9);
  opacity:1;
  transition:
    box-shadow 250ms ease-in-out,
    transform 250ms ease-in-out;

  p {
    margin-bottom: 0 !important;
  }
  &.team,
  &.team-edit {
    height: 12vw;
    width: 12vw;
    margin: 3vw;
    img {
      height: 1vw;
      width: auto;
    }

    p {
      font-size: 10px;
      bottom: -35px;
    }
  }

  &.teamShare {
    height: 20vw;
    width: 20vw;
    margin: 6vw;

    img {
      height: 4vw;
      width: auto;
    }

    p {
      font-size: 10px;
      bottom: -35px;
    }
  }

  &.builder {
    height: 10vw;
    width: 10vw;
    margin: 5px;
  }
  &:hover {
    transform:scale(1);
  }
  img {
    height:5vw;
    width:auto;
  }
  p {
    position: absolute;
    bottom: -55px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 2.5vw;
    color: #fff;
  }

  &.Legendary.sn-viewport--in {
    border: 5px solid rgba($color-legendary, .75);
    &:hover {
      box-shadow: 0 5px 10px rgba($color-legendary, 1);
    }
  }

  &.Epic.sn-viewport--in {
    border: 5px solid rgba($color-epic, .75);
    &:hover {
      box-shadow: 0 5px 10px rgba($color-epic, 1);
    }
  }

  &.Rare.sn-viewport--in {
    border: 5px solid rgba($color-rare, .75);
    &:hover {
      box-shadow: 0 5px 10px rgba($color-rare, 1);
    }
  }

  &.Uncommon.sn-viewport--in {
    border: 5px solid rgba($color-uncommon, .75);
    &:hover {
      box-shadow: 0 5px 10px rgba($color-uncommon, 1);
    }
  }

  &.Common.sn-viewport--in {
    border: 5px solid rgba($color-common, .75);
    &:hover {
      box-shadow: 0 5px 10px rgba($color-common, 1);
    }
  }
}
.champion-card.shards {
  box-shadow:0 0 0 white;
  transition:box-shadow .25s ease-in-out;
    &.Legendary {
      transform:scale(1);
      border: 5px solid rgba($color-legendary, .75);
      box-shadow: 0 0 30px 15px rgba($color-legendary, .75);
    }

    &.Epic {
      border: 5px solid rgba($color-epic, .75);
      box-shadow: 0 0 20px 10px rgba($color-epic, .75);
    }

    &.Rare {
      border: 5px solid rgba($color-rare, .75);
      box-shadow: 0 0 10px 5px rgba($color-rare, .75);
    }
}
.roster-champion {
  display:flex;
  height:100%;
  width:98%;
  margin:0 auto;
  border-bottom:1px solid rgba($color-primary, .5);
  flex-direction: row;
  padding:.5vw 2vw;
  align-items: center;
  background-color:rgba(lighten($color-background, 10%), .8);

  &.Legendary {
    border-left: 2px solid rgba($color-legendary, .75);
  }

  &.Epic {
    border-left: 2px solid rgba($color-epic, .75);
  }

  &.Rare {
    border-left: 2px solid rgba($color-rare, .75);
  }

  &.Uncommon {
    border-left: 2px solid rgba($color-uncommon, .75);
  }

  &.Common {
    border-left: 2px solid rgba($color-common, .75);
  }
  &-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  &-data {
    p {
      width:100%;
      display:inline-block;
      margin:0;
      font-size:3.5vw;
      text-transform: capitalize;
    }
  }
  &-img {
    height:8vw;
    width:8vw;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:50% 50%;
    border-radius:50%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    img {
      height:3vw;
      width:3vw;
    }
  }
  &-actions {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    width:100%;
    padding:1vw 0;
    .btn {
      padding:1vw 2vw;
    }
    .ng-fa-icon {
      font-size:4vw;
    }
  }
}

@media all and (min-width:$mobile) {
  champion-card:host {
    &.champs {
      margin: 4% 2%;
    }
  }
  .champion-card {
    &.team,
    &.builder {
      height: 45px;
      width: 45px;
      margin: 15px 10px;
      img, p {
        display:none;
      }
    }

    img {
      height: 35px;
      width: auto;
    }

    p {
      font-size: 12px;
    }

    &.team-edit,
    &.teamShare {
      height: 100px;
      width: 100px;
      margin: 15px 10px;

      img {
        height: 20px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  .roster-champion {
    border:none;
    flex-direction: column;
    border-radius:3px;
    padding:10px 5px;
    box-shadow:0 5px 15px rgba(black, .1);

    &.Legendary {
      border: 2px solid rgba($color-legendary, .75);
    }

    &.Epic {
      border: 2px solid rgba($color-epic, .75);
    }

    &.Rare {
      border: 2px solid rgba($color-rare, .75);
    }

    &.Uncommon {
      border: 2px solid rgba($color-uncommon, .75);
    }

    &.Common {
      border: 2px solid rgba($color-common, .75);
    }
    &-card {
      padding: 15px 0;
      flex-direction: column;
    }

    &-data {
      margin-top:15px;

      p {
        font-size:14px;
      }
    }

    &-img {
      height: 75px;
      width: 75px;

      img {
        height: 15px;
        width: 15px;
      }
    }

    &-actions {
      padding: 5px 0;
      justify-content: center;

      .btn {
        padding: 5px 10px;
      }

      .ng-fa-icon {
        font-size: 12px;
      }
    }
  }
}
