@import 'variables';

.team {
  &-wrapper {
    width:100%;
    margin:2vw 0;
  }
  &-card {
    border-radius:1vw 1vw 0 0;
    width:96vw;
    padding:3vw;
    margin:0 2vw;
    text-align:center;
    background-color:lighten($color-background, 10%);
  }
  .champions {
    display:flex;
  }
  &-actions {
    width:96vw;
    margin:0 2vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border-top:1px solid rgba($color-primary, .2);
    border-radius:0 0 1vw 1vw;
    background-color:lighten($color-background, 10%);
    button {
      color:$color-primary;
      border: none;
      width:100 / 4 + 0%;
      background:transparent;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding:2.5vw 0;
      .ng-fa-icon {
        font-size:5vw;
      }
    }
  }
}
.delete-confirmation {
  width:100%;
  max-width:300px;
  text-align:center;
}

@media all and (min-width:$mobile) {
  .team {
    &-wrapper {
      margin: 15px 0;
    }

    &-card {
      border-radius: 5px 5px 0 0;
      width: 350px;
      padding: 10px;
      margin: 0 15px;
    }
    &-actions {
      width: 350px;
      margin: 0 15px;
      border-radius: 0 0 5px 5px;
      button {
        padding:10px 0;
        .ng-fa-icon {
          font-size: 16px;
        }
      }
    }
  }
}
