<div class="wrapper">
    <div class="container">
        <div class="Guides">    
            <h2>RR: Gearing Tutorial</h2><br>
          <p>
            To understand gear, you first have to understand what is meant by "scaling". A champion "scales" with a specific stat if its abilities are improved by that stat. For example: Athel's skills are improved by attack. However, Tayrel (high elf epic), only scales with defense. This means that attack would be a wasted stat on Tayrel. Defense would reduce the damage he takes AND increase the damage he does.
            <br><br>
            Some champions will scale off multiple stats: Crimson Helm's (dark elf epic) primary attack scales off attack AND defense.
            <br><br>
            You can check what stat your champion scales off of by reading their skills. Go to your champion page, click a champion, and click skills in the top right. Check each skill, as they may scale differently. The stat or stats your skills scale off of is your "primary stat(s)".
            <br><br>
            Scaling can sometimes be trial and error. Plarium does not post scaling ratios as some games do. In other words, increasing your attack score by 100 might increase your damage by 100. Or 50. Or 500. You can't know til you try. Don't be afraid to experiment to find the best set up!
          </p><br>
          <div class="infobox">
            <h2>Type of Stats</h2><br>
          <p>  First we'll start with an overview of the stats:
            <br> <br>
            <span class="text-primary">HP :</span> The amount of damage the champion can receive before being defeated.
            <br> <br>
            <span class="text-primary">Attack :</span> This stat scales your attack damage. Please note: This is only useful on champions that scale with attack. If your champion has no attack scaling, this stat will do nothing for you.
            <br> <br>
            <span class="text-primary">Defense :</span> This stat reduces the damage you take.
            <br> <br>
            <span class="text-primary">Speed :</span> this determines how fast your turn meter fills, that will mean not only who gets to go first, but a particularly fast champion may get multiple turns before a slower one.
            <br> <br>
            <span class="text-primary">C.RATE :</span> Critical Rate, this is the stat the determines how often you score a critical hit.
            <br> <br>
            <span class="text-primary">C.DMG :</span>: Critical Damage, this is the stat that determines how large a multiplier your critical hit will be. Most champions have a base of 50%, meaning a critical hit will do 50% increased damage.
            <br> <br>
            <span class="text-primary">Resistance :</span> This determines how likely you are to resist a debuff being placed on you.
            <br> <br>
            <span class="text-primary">accuracy :</span> This determines how likely you are to place a debuff on an opposing champion. Please note that this is separate from your odds of placing a debuff. If a skill has a 70% chance to place a debuff, that 70% determines whether or not it even attempts to be applied, and your accuracy against the target's resistance will determine whether it is successfully applied. More accuracy will not increase a 70% chance to apply to a 100% chance to apply. Also note that if a champion does not have debuffs, accuracy is a useless stat.
            </p>
            </div>
            <br>
            <div class="infobox">
                <h2>Main Stats & Substats</h2><br>
                <p>
                First we should address the stats on gear. Gear has 3 aspects: main stats, substats, and set bonus. Set bonuses will be covered in the next section. Gear can be increased up to level 16, with substats being revealed, or upgrade, at levels 4, 8, 12 and 16.
                <br><br>
                <span class="text-primary">Main Stat :</span> is the primary one that increases with every level that you upgrade. The main stat on your weapon, helmet and shield are fixed and will always be the same. Weapon will have flat attack ("flat" means a fixed value, as compared to a % increase in that stat), helmet will have flat HP and shield will have flat defense.
                <br><br>  
                <span class="text-primary">gloves, chest & boots :</span> can have several different main stats. Each can have flat hp, defense, attack, as well as % increases to hp, defense and attack. However, gloves can also have critical rate, or critical damage, chest can have accuracy or resistance, and boots can have speed.
                <br><br>
                <span CLASS="text-primary">accessories :</span> ring, amulet and banner, also have random main stats. They can't have % increased stats as a main stat like the glove chest and boots. They all can have flat hp, defense or attack, the amulet can have critical damage, and the banner can have accuracy or resistance.
                <br><br>
                Gear also has 4 secondary stats, commonly called substats. <br>
                <span class="text-primary">Common</span> piece will have all 4 of these hidden, and a new one will be revealed at level 4, 8, 12, and 16 of artifact upgrades. <br>
                <span class="text-primary">Uncommon</span>  will have one substat revealed which will be upgraded at level 4, and then reveal a new substat at 8, 12, and 16. <br>
                <span class="text-primary">Rare</span>  piece will have two substats and will upgrade one of them, at random, at level 4 and 8, then reveal 2 new substats at 12 and 16. <br>
                <span class="text-primary">Epic</span>  will have 3 substats revealed and will upgrade one at random at 4, 8 and 12, and reveal the final substat at level 16, lastly, <br>
                <span class="text-primary">Legendary</span>  gear begins with all 4 substats revealed, and will upgrade one at random every 4 levels.
                <br><br>
                Upgrades of substats are random, and an epic piece might upgrade the same substat 3 times, for example. This can be both a blessing and a curse. Upgrading the same substat 3 times can be very powerful if it's good, but if you have have 2 good substats and 1 bad one, and the bad one gets all 3 upgrades, that epic gear is now barely better than a common piece!
                </p>
                <span class="text-primary">NOTE : % increases are always better than flat increases. For example: 5* flat hp will be 3480 hp at level 16, and 5* %hp will be a 50% increase at level 16. Meaning that for anyone with more than 6960 base hp (which, as far as I know, is everyone in the game at level 60), the % increase will be better.</span>
            </div>
            <br>
            <div class="infobox">
                <h2>Status effects</h2><br>
                <p>
                    Stats that inflict status effects, such as toxic, stun, taunting, etc are notable in one extra way: they do not require an accuracy check. If the debuff procs, it will be applied, no matter how much resistance the target has. This can be useful against high RES targets in arena, once you get into the high tiers!
                </p>
            </div><br>
            <div class="infobox">
                <h2>BASIC SET UPS</h2><br>
                <p>
                    These are some sample set-ups for champions. These suggestions will not apply to every champion! The higher you go, the more nuance and niche uses you will have. These are intended as starting points and will be as general as possible:
                    <br><br>
                    <span class="text-primary">Attacker :</span> Attackers generally want to do as much damage as possible. To facilitate that, you will want gloves with a crit damage% main stat, chest with attack% main stat, and boots with speed as a main stat. It is important that attackers be fast, so that they can get their turn off before they are attacked. They are often fragile and may not survive long enough to attack if they are slow.
                    <br><br>
                    For set bonuses, you will want to focus on critical rate or speed sets. Critical rate sets are used to get your critical rate to a sufficient level, typically you want to aim for 70% chance to crit, or more. However, as your gear improves and you get more crit rate from things like substats, you can begin to switch these sets for speed or critical damage sets. If the champion has specific effects that take place only on a crit, you may need to use crit rate gloves instead of crit damage, to make sure you get 100%. Substats you want are crit rate, crit damage, attack%, and speed. If you have debuffs, accuracy is also a good substat to get, but you shouldn't aim to have more than 80-100 accuracy in the vast majority of situations.
                    <br><br>
                    <span class="text-primary">Defender :</span>  Defenders are a varied lot, some are tankier than others. A basic set up would be 3x defense sets, with either crit damage % or defense % on gloves (depending on scaling), defense % on chest, and speed boots. This can vary a lot. A defense champion that needs criticals, may use crit gloves, or crit sets. One geared for arena may use a frost set. One geared for farming may use lifesteal.
                    <br><br>
                    <span class="text-primary">HP :</span>  HP Champs are similar to Defense champs, except using HP gear instead of defense. They often fulfill similar roles on teams. These champions are notably good users of shield sets. They would use HP% chest, HP% or crit damage gloves (depending on scaling) speed boots. Sets they can use life (or immortal or divine life), shield, regeneration, or crit or speed sets.
                    <br><br>
                    <span class="text-primary">Supper :</span>  Not all support champs are officially labelled support! A support is a champ who is reliant on buffs or debuffs as their main contribution to the team. Supports want speed primary or survivability second. It's important they get their buffs/debuffs up before your team or the enemy team goes. Not to mention, the faster they are, the more often they get turns, meaning they have an easier time keeping their buffs active. 3x speed (or divine speed) sets, with HP or Defense% gloves and chest, depending which they scale better with, and speed boots. A support who relies more on debuffs than buffs will want to ensure they have good accuracy. That means either good accuracy substats, an accuracy banner, or an accuracy set.
                    <br><br>
                </p><br>
                    <div class="infobox">
                    <h2>Clan Boss gearing</h2><br>
                    <p>
                    Gearing for clan boss is very different from gearing for other situations. Damage in clan boss will come largely from enemy max hp scaling abilities, poison or hp burn debuffs, or the Giant Slayer/Warmaster mastery. As such, your main concern is speed, to apply these as fast as possible, survivability to get as many turns as possible to apply them, and accuracy for poisoners/burners to ensure their buffs apply.
                    <br><br>
                    For example: Kael geared for clan boss will be 3x speed sets or 1x lifesteal and 1 speed set, HP% gloves, HP% or accuracy chest, speed boots. HP or Defense on accessories, and Accuracy on the banner. You want to aim for high accuracy to ensure poison is applied (the amount needed varies by clan boss), and then make him as fast and tanky as possible to get as many stacks as you can. However, this build would make his damage terrible in EVERY other setting. So a set up like is recommended only for champs that you use exclusively on clan boss.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

