@import 'variables';
.wrapper {
  overflow: auto;
  height: 100%;
  padding-bottom:100px;
}
.container {
  width:100%;
}
.nav-link {
  color:white;
  cursor:pointer;
}


h2 {
    font-size:18px;
    text-align: center;
    margin-top: 30px;
    width:100%;
    border-bottom: 1px solid rgba($color-primary, .8);
  }

  p {
      text-align: center;
  }

  h3 {
    padding-top: 20px;
    font-size:18px;
    text-align: center;
    width:100%;
  }

  img {
      border-radius: 50%;
      width: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .framediv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
  }

  .button1 {
    background-color: transparent;
    border: none;
    color: rgba($color-primary, .8);
    border: 1px solid rgba($color-primary, .75);
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding-top: 10px;
    margin:auto;
    display:block;
  }

  .infobox {
    border-top: 1px solid rgba($color-primary, .4);
    border-bottom: 1px solid rgba($color-primary, .4);
    background-color: rgba(0, 0, 0, 0.397);
    padding: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  iframe {
    border-radius: 16px;
  }


  .socialbuttons {
    margin: 0 auto;
    border-radius: 16px;
    font-size: 32px;
    color: $color-primary;
    border: 1px solid rgba($color-primary, .4);
    background-color: rgba(0, 0, 0, 0.212);
    height: 90px;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 46px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 340px;
  }

