<div class="wrapper">
    <div class="container">
      <ng-container *ngFor="let twitcher of (twitcher|async)">
        <div class="framediv">
        <h2> {{twitcher.username}} On RAIDRANKS.COM</h2><br>
            <div class="infobox">
        <iframe *ngIf="streamVideo" width="100%" height="600" float="middle" [src]="streamVideo"  frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
        <a href="{{twitcher.chatLink}}"  target="_blank"><button class="button1">OPEN CHAT</button></a><br>
        </div>
        </div>
        <hr>
      </ng-container>
    </div>
  </div>



  <a href="http://kanishkkunal.in" 
  target="popup" 
  onclick="window.open">