<div class="wrapper">
    <div class="container-fluid">
      <ng-container *ngFor="let twitcher of (twitcher|async)">
        <div class="row">
          <div class="col-12">
            <h2> {{twitcher.username}} On RAIDRANKS.COM</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <iframe *ngIf="streamVideo" width="100%" height="600" float="middle" [src]="streamVideo" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-4">
            <iframe frameborder="0" [src]="streamChat"
              height="600" width="100%">
            </iframe>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
