<div class="wrapper">
    <div class="container">
      <div class="row">
          <h2>RAIDRANKS</h2>
          <p>A website related to the game "RAID: Shadow Legends"<br>         
              developed by players for players.<br>
              we give you alot of useful tools that you can use for the game and all the <a href="/champions">champion information</a>.<br>
              An <a href="/leaderboards">clan-boss leaderboard</a> is available to compete with players over the whole world.<br>
              You can use our <a href="/deals">Calculator</a> to look if it is worth to buy a specific deal into the game. <br>
              Manage all your champions into an online <a href="/roster">roster</a> and work out your teams into the <a href="teams">team builder</a>. <br>
              Our discord bot can provide you masteries , ratings and champions information.</p>
             <button class="round-button"><a target="_blank" href="https://discord.gg/CXC2SP3">DISCORD</a></button>
      </div>
      <div class="weekly">

        <h2>Champion Spotlight</h2>
        <h3>ZARGALA</h3>
<p>Zargala which belongs to the orcs faction she rules as an epic attack force champion.<br>
She is top rated into campaign , arena and into several dungeons. <br>
For more information check out her<a href="/champion-details/orcs/zargala"> information</a>.</p>
<a href="/champion-details/orcs/zargala"> <img [src]="['../../..//assets/images/champions/zargala.jpg']" alt=""></a>
      </div>
    </div>
  </div>