@import 'variables';

.champions-cards {
  height:100%;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}

input {
  padding: 7px 15px;
  font-size: 16px;
  margin-left: 2%;
  color: white;
  border: none;
  width: 50%;
  background: transparent;
  border-bottom: 1px solid $color-primary;

  &:focus {
    outline: none;
  }
}

virtual-scroller {
  width: 100vw;
  height: calc(100vh - 55px);
  padding-bottom:22vw;
}

.search {
  padding: 4px 15px;
  background-color: rgba($color-primary, .2);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.no-champions {
  width:100%;
  height:100%;
  padding:15px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

champion-card.champs.champion-roster {
  margin:0;
  height:auto;
  width:100%;
}

@media all and (min-width:$mobile) {
  virtual-scroller {
    padding-bottom: 0;
  }

  champion-card.champs.champion-roster {
    margin: 15px;
    height: auto;
    width: 200px;
  }
}
