<button class="btn btn-link mt-3" (click)="helpOverlay()">Need Help?</button>
<div class="wrapper">
  <div class="container">
<div class="Ascension">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="result-header">Ascension Potions</div>
  <div>
    <button class="btnstyle">Stars</button>
    <button class="btnstyle">Unc.</button>
    <button class="btnstyle">Rare</button>
    <button class="btnstyle">Epic</button>
    <button class="btnstyle">Lego</button>
  </div>
  <div class="column">
    <button class="btnstyle">3 Star</button>
    <input type="text" [(ngModel)]="uncommon['three']" (keyup)="calculatePotions()">
    <input type="text" [(ngModel)]="rare['three']" (keyup)="calculatePotions()">
    <input type="text" [(ngModel)]="epic['three']" (keyup)="calculatePotions()">
    <input type="text" [(ngModel)]="legendary['three']" (keyup)="calculatePotions()">
    </div>
    <div class="column">
      <button class="btnstyle">4 Star</button>
    <input type="text" [(ngModel)]="uncommon['four']" (keyup)="calculatePotions()">
    <input type="text" [(ngModel)]="rare['four']" (keyup)="calculatePotions()">
    <input type="text" [(ngModel)]="epic['four']" (keyup)="calculatePotions()">
    <input type="text" [(ngModel)]="legendary['four']" (keyup)="calculatePotions()">
  </div>
  <div class="column">
    <button class="btnstyle">5 Star</button>
    <input type="text" [(ngModel)]="uncommon['five']" (keyup)="calculatePotions()" disabled>
    <input type="text" [(ngModel)]="rare['five']" (keyup)="calculatePotions()">
    <input type="text" [(ngModel)]="epic['five']" (keyup)="calculatePotions()">
    <input type="text" [(ngModel)]="legendary['five']" (keyup)="calculatePotions()">
  </div>
  <div class="column">
    <button class="btnstyle">6 Star</button>
    <input type="text" [(ngModel)]="uncommon['six']" (keyup)="calculatePotions()" disabled>
    <input type="text" [(ngModel)]="rare['six']" (keyup)="calculatePotions()">
    <input type="text" [(ngModel)]="epic['six']" (keyup)="calculatePotions()">
    <input type="text" [(ngModel)]="legendary['six']" (keyup)="calculatePotions()">
  </div>
</div>
<br>
<br>
<br>

<div class="Ascension" >
  <div class="result-header">Arcane Potions:  
    <div class="column-3">
      <label>Lesser</label>
      <label>Greater</label>
      <label>Superior</label>
    </div>
    <div class="column-3">
      <label>{{ arcane['lesser'] }}</label>
      <label>{{ arcane['greater'] }}</label>
      <label>{{ arcane['superior'] }}</label>
    </div>
  </div>
</div>

<div class="Ascension" >
  <div class="result-header">Affinity Potions:  
    <div class="column-3">
      <label>Lesser</label>
      <label>Greater</label>
      <label>Superior</label>
    </div>
    <div class="column-3">
      <label>{{ affinity['lesser'] }}</label>
      <label>{{ affinity['greater'] }}</label>
      <label>{{ affinity['superior'] }}</label>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="helpOverlayIsActive">
  <div class="help">
    <div class="btn btn-outline-primary mb-5" (click)="helpOverlay()">Close</div>
        <h5>Ascension Requirements</h5>
        <p><span class="text-primary">Ascension Potions</span> shows how many potions you need to fully ascend champions.</p>
    </div>
</div>
</div>
</div>

