<div class="wrapper">
    <div class="container">
      <h2>Twitch Streamers</h2>
      <ng-container *ngFor="let twitchers of (twitchers|async)">
        <div class="row" *ngFor="let twitchers of twitchers.twitchers">
          <div class="col-12">
            <a [routerLink]="['/twitch-streamers', twitchers.slug]">
              <img src="../../../assets/images/twitchers/{{twitchers.slug}}.png">
              </a>
          </div>
          <div class="col-12">
            <h3>{{twitchers.username}}</h3>
          </div>
          <div class="col-12">
            <p>{{twitchers.description}}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>