@import 'variables';
@import 'input';




.food-selection {
  width:100%;
  justify-content: space-around;
  text-align: center;
  margin-top:25px;
}

.result-card{
  column-count: 3;
  column-gap: 10px;
  text-align: center;
  background-color:lighten($color-background, 10%);
  width: 98%;
  padding: 10px;
  margin: 10px;
  color:white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: medium;
  input {
    font-size: medium;
    margin-top: 0;
    border: 1px solid rgba($color-primary, .75);
    background-color: transparent;
    border-radius: 8px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  label {
    display: block;
    margin: auto;
  }
}

.result-header{
  display: inline-block;
  text-align: center;
  padding: 10px;
  color:$color-primary;
  font-size: xx-large;
}

.radiobuttongroup{
  display:inline-block;
  text-align: center;
  background-color:lighten($color-background, 10%);
  width: 25%;
  margin: 4px;
  color:white;
  border-radius: 10px;
  align-items: center;
  font-size: medium;
  label {
    display:block;
    padding: 10px;
    color: white;
  }
}