<div class="wrap">
  <div class="faq">
    <h4>FAQ</h4>
    <div class="rsl-label">Q: I found a bug! Where can I let you know about it?</div>
    <p>A: You can message me best on Discord - <span class="text-primary">Benn#2599</span>. Thank you!</p>
    <div class="rsl-label">Q: I have this great idea for Raid Ranks, want to hear it?</div>
    <p>A: Please! the best way will be Discord <span class="text-primary">Benn#2599</span>. Can't wait to hear it!</p>
    <div class="rsl-label">Q: You're missing data!</div>
    <p>A: Thanks for catching that! Feel free to let me know on Discord - <span class="text-primary">Benn#2599</span>.
      Thanks!</p>
    <div class="rsl-label">Q: I'd love to contribute. How can I help?</div>
    <p>We're always seeking for help! Hit me up on Discord <span class="text-primary">Benn#2599</span> and we can chat about how you can contribute!</p>
    <div class="rsl-label">Q: Your site sucks and you're not doing as much as I want you to!</div>
    <p>A: This is not our full-time job. We're doing our best bringing this site to you for FREE.</p>
    <div class="rsl-label">Q: Why did you make Raid Ranks?</div>
    <p>A: We felt Raid was lacking some of the features we expected to see.</p>
  </div>
  <hr>
  <div class="to-come">
    <h4>What's to come?</h4>
    <ul>
      <li>
        The site has been handed out recently. We're running through some ideas we wanne work out , Hereby we can't confirm what's to come. An update of this will follow soon.
      </li>
    </ul>
  </div>
  <hr>
  <div class="founder">
    <h4>Original Founder</h4>
    <p>The site was original started by <span class="text-primary">pwm50#8505</span>. <br>
    After alot of time and effort you putted into the site he proudly carried over to <span class="text-primary">Benn#2599</span> in December 2019.<br> 
    <span class="text-primary">pwm50#8505</span> will still take a part into the website but his main focus will be somewhere else. <br>
    You always can message in him discord for any questions.</p>
  </div>
</div>
