<div class="wrap">
  <div class="faq">
    <h4>FAQ</h4>
    <div class="rsl-label">Q: I found a bug! Where can I let you know about it?</div>
    <p>A: Discord will work best - <span class="text-primary">Benn#2599</span>. Thank you!</p>
    <div class="rsl-label">Q: I have this great idea for Raid Ranks, want to hear it?</div>
    <p>A: Please! Also Discord - <span class="text-primary">Benn#2599</span>. Can't wait to hear it!</p>
    <div class="rsl-label">Q: You're missing data!</div>
    <p>A: Thanks for catching that! Feel free to let me know on Discord - <span
        class="text-primary">Benn#2599</span>.
      Thanks!</p>
    <div class="rsl-label">Q: I'd love to contribute. How can I help?</div>
    <p>I'd love some help! Hit me up on Discord <span class="text-primary">Benn#2599</span> and we can chat about how you can contribute! ^_^</p>
    <div class="rsl-label">Q: Your site sucks and you're not doing as much as I want you to!</div>
    <p>A: This is not my full-time job. I'm doing my best bringing this site to you for FREE while balancing a full-time
      job, a wife, baby, 2 dogs, a cat, yard work, etc. So uh... politely go and shove it. :)</p>
    <div class="rsl-label">Q: Are you a sellout for putting ads on your site?</div>
    <p>A: No, I just want to offset my hosting and server costs. But if that means I am selling out then... well... meh.
      I'd be happy to share what I make from ad revenue if you'd like!</p>
    <div class="rsl-label">Q: Why did you make Raid Ranks?</div>
    <p>A: TO GET RICH OR DIE TRYING! But also because I felt Raid was lacking some of the features I'd really have expected to see in game. I started out making a simple value calculator for my own personal use and everything just evolved into what it is now.</p>
  </div>
  <hr>
  <div class="to-come">
    <h4>What's to come?</h4>
    <ul>
      <li>
        Far more fleshed out sorting
        <ul>
          <li>Sorting by buffs</li>
          <li>Sorting by debuffs</li>
          <li>Sorting by multi hit attacks</li>
          <li>Sorting by AoE attacks</li>
          <li>Etc...</li>
        </ul>
      </li>
      <li>Roster link sharing</li>
      <li>Roster and team notes</li>
      <li>Custom tagging options. This would mean being able to mark a champion in your roster as, say, "Spider Coldheart"</li>
      <li>
        Community suggested teams
        <ul>
          <li>Both generally suggested teams, as well as roster specific</li>
        </ul>
      </li>
      <li>Community driven rating system</li>
      <li>Rank up food calculator</li>
      <li>If it's a highly requested feature, I'll be adding user accounts to make it possible to carry a users teams and rosters across devices.</li>
    </ul>
  </div>
  <hr>
  <div class="broken">
    <h4>Some broken / incomplete stuff</h4>
    <ul>
      <li>The champion list is not totally up to date. Don't worry, I'll be fixing this.</li>
      <li>The overall UI is a constant work in progress. I felt it more important to get useful features out to the community first that I could improve upon later.</li>
      <li>When removing a champion from a team, the team edit screen closes. This will be updated to stay on that screen.</li>
      <li>While on certain mobile devices, the last few champions are cut off at the bottom of a roster or champion list when scrolled all the way down.</li>
    </ul>
  </div>
</div>
