<div class="wrap">
  <div class="faq">
    <h2>FAQ</h2>
    <div class="rsl-label">Q: What do I need to do if I found a bug ?</div>
    <p>A: You can message me best on Discord - <span class="text-primary">Benn#2599</span>. Thank you!</p>
    <div class="rsl-label">Q: I have a good idea for Raidranks.com, want to hear it?</div>
    <p>A: Please! the best way will be Discord <span class="text-primary">Benn#2599</span>. Can't wait to hear it!</p>
    <div class="rsl-label">Q: You're missing data!</div>
    <p>A: Thanks for catching that! Feel free to let me know on Discord - <span class="text-primary">Benn#2599</span>.
      Thanks!</p>
    <div class="rsl-label">Q: I'd love to contribute. How can I help?</div>
    <p>We're always seeking for help! Hit me up on Discord <span class="text-primary">Benn#2599</span> and we can chat about how you can contribute!</p>
    <div class="rsl-label">Q: Your site sucks and you're not doing as much as I want you to!</div>
    <p>A: This is not our full-time job. We're doing our best bringing this site to you for FREE.</p>
    <div class="rsl-label">Q: Why did you make Raid Ranks?</div>
    <p>A: We felt Raid was lacking some of the features we expected to see.</p>
  </div>
  <div class="to-come">
    <h2>What's to come?</h2>
    <ul><br>
      <li>
        Currently we're brainstorming about ideas within the team for whats to come. Into our next update we will provide you a list of stuff we're currently working on. 
      </li>
      <p>If you have ideas how we can improve our website feel free to message our team.</p>
    </ul>
  </div>
  <div class="founder">
    <h2>People behind Raidranks.com</h2>
    <p>let us introduce the people behind raidranks !</p>
    <p><span class="text-primary">Benn#2599</span> : Owner / Developer of raidranks.com </p>
    <p><span class="text-primary">Hydra#2473</span> : Co-owner and developer</p>
    <p><span class="text-primary">pwm50#8505</span> : original founder of the website and still works in the background<br>
     after alot of time investment <span class="text-primary">pwm50#8505</span> has carried over raidranks.com in December 2019 to <span class="text-primary">Benn#2599</span>. </p>
    <p>For any questions related to raidranks.com you can message one of us into discord.</p>
  </div>
</div>
