      <div class="wrapper">
            <div class="container">
              <div class="row">
                  <h2>TIERLIST OF RAIDRANKS.COM</h2>
                  <img src="../../../assets/icons/Tournaments_icon_fin.png" alt="" class="mt-5 mb-5">
              </div>
              <div class="buttons">
                    <button class="round-button"><a target="_self" href="/stier">S - TIER</a></button>
                    <button class="round-button"><a target="_self" href="https://discord.gg/CXC2SP3">A - TIER</a></button>
                    <button class="round-button"><a target="_self" href="https://discord.gg/CXC2SP3">B - TIER</a></button>
                    <button class="round-button"><a target="_self" href="https://discord.gg/CXC2SP3">C - TIER</a></button>
              </div>
            </div>
          </div>