@import 'variables';

.shards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 15px;
  padding-bottom: 30vw;

  .champions {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.btn {
  margin-top: 25px;

  &.inactive {
    opacity: .5;
    pointer-events: none;
  }
}

img {
  margin-bottom: 25px;
  width: 150px;
  height: auto;
}

.bluestacks {
  width: 100%;
  max-width: 400px;

  img {
    width: 100%;
    max-width: 200px;
    margin: 25px auto;
    display: block;
  }
}

champion-card {
  margin: 15px;
  height: 15vw !important;
  width: 15vw !important;
}

@media all and (min-width:$mobile) {

  .shards {
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    position: relative;
  }

  champion-card {
    margin: 20px;
    height: 100px !important;
    width: 100px !important;
  }
}
