@import 'variables';

.champions-cards {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  position:relative;
}

input {
  padding:7px 15px;
  font-size:16px;
  margin-left:2%;
  color:white;
  border:none;
  width:50%;
  background:transparent;
  &:focus {
    outline:none;
  }
}

virtual-scroller {
  width: 100vw;
  height: calc(100vh - 55px);
  padding-bottom:22vw;
}

.search {
  padding:4px 15px;
  background-color:rgba($color-primary, .2);
  display:flex;
  width:100%;
  flex-direction: row;
  justify-content: space-between;
}
.shards {
  width:100%;
  max-width: 400px;
  display:flex;
  flex-direction:column;
  margin:15px auto;
  img {
    display:none;
  }
}
@media all and (min-width:$mobile) {
  virtual-scroller {
    padding-bottom: 0;
    height: calc(100vh - 55px);
  }

  .shards {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom:25px;

    img {
      width: 100px;
      height: 100%;
      display:block;
      margin: 25px auto;
    }
  }
}
