<div class="champions-cards">
  <div class="search">
    <input
    type="text"
    placeholder="Search Champions..."
    (ngxInputSearch)="updateSearch($event)"
    (keyup)="emptyCheck()"
    [(ngModel)]="searchInput">
  </div>
  <filter></filter>
  <virtual-scroller #scroll [items]="championList">
      <champion-card
        [rosterMode]="rosterMode"
        class="champs"
        *ngFor="let champ of scroll.viewPortItems"
        [source]="'champs'"
        [attr.data-champ-name]="champ.name.toLowerCase()"
        [champ]="champ"></champion-card>
  </virtual-scroller>
</div>
