@import 'variables';
@import 'input';


.result{
  height: 100%;
  width: 100%;
  flex-direction: column;
  margin-left: 10px;
  padding: 10px;
}
.wrap {
  height:100%;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  padding: 10px;
}

.score {
  width:100%;
  display:flex;
  justify-content: space-around;
  text-align: center;
  margin-top:25px;
}

.value-card {
  text-align:center;
  background-color:lighten($color-background, 10%);
  width:98%;
  padding:2vw 3vw;
  margin:1vw;
  color:white;
  border-radius:4px;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .rsl-label {
    width:300px;
    margin:0;
    text-align:left;
    padding:0;
  }
  input {
    font-size:5vw;
    margin-top:0;
    border:1px solid rgba($color-primary, .75);
  }
}

.help {
  max-width:400px;
}

.values {
  display:flex;
  flex-direction: column;
  color:white;
  .value {
    width:100%;
    display:flex;
    flex-direction: row;
    border-bottom:1px solid rgba(white, .5);
    padding: 5px 0;
    &:last-child {
      border:none;
    }
    div {
      width:50%;
    }
  }
}

@media all and (min-width:$mobile) {
  .value-card {
    width:100 / 2 - 2+0%;
    padding:5px 15px;
    margin:5px 1%;
    input {
      font-size: 14px;
    }
  }
  .wrap {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
