<div class="wrapper">
  <div class="container">
    <h2>Content Creators</h2>
    <ng-container *ngFor="let creators of (creators|async)">
      <div class="row" *ngFor="let creator of creators.creators">
        <div class="col-12">
          <a [routerLink]="['/content-creators', creator.slug]">
            <img
              src="../../../assets/images/youtubers/{{creator.slug}}.png">
          </a>
        </div>
        <div class="col-12">
          <h3>{{creator.username}}</h3>
        </div>
        <div class="col-12">
          <p>{{creator.description}}</p>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="container">
    <button class="helpbutton" (click)="helpOverlay()">Want to be featured here?</button>
  </div>
</div>

<div class="overlay" *ngIf="helpOverlayIsActive">
  <div class="help">
    <div class="btn btn-outline-primary mb-5" (click)="helpOverlay()">Close</div>
    <h4>Want to be featured here? </h4>
    <p>Send us a message on our Discord <span class="text-primary">https://discord.gg/CXC2SP3</span>,</p><p> where you can chat with <span class="text-primary">Benn#2599</span> about our approval process</p>
  </div>
</div>