<div class="wrapper">
  <div class="container">
    <h2>Content Creators</h2>
    <ng-container *ngFor="let creators of (creators|async)">
      <div class="row" *ngFor="let creator of creators.creators">
        <div class="col-12">
          <a [routerLink]="['/content-creators', creator.slug]">
            <img
              src="../../../assets/images/youtubers/{{creator.slug}}.png">
          </a>
        </div>
        <div class="col-12">
          <h3>{{creator.username}}</h3>
        </div>
        <div class="col-12">
          <p>{{creator.description}}</p>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="container">
    <button class="helpbutton" (click)="helpOverlay()">Want to displayed here?</button>
  </div>
</div>

<div class="overlay" *ngIf="helpOverlayIsActive">
  <div class="help">
    <div class="btn btn-outline-primary mb-5" (click)="helpOverlay()">Close</div>
    <h4>Want your content in here? </h4>
    <p><span class="text-primary">We provide this service for free.</span></p>
    <p>The best way to send in an application for review is into our discord : <span class="text-primary">https://discord.gg/CXC2SP3</span></p>
    <p>You wanna send <span class="text-primary">Benn#2599</span>, who will run through a conversation with you.</p>
    <p>He will ask you several questions that are needed before approvement.</p>
    <p>After you will geta approvement you will be published into this section.</p>
  </div>
</div>