<div class="wrapper">
  <div class="container">
    <ng-container *ngFor="let creators of (creators|async)">
      <h2>Content Creators</h2>
      <div class="row" *ngFor="let creator of creators.creators">
        <div class="col-12">
          <a [routerLink]="['/content-creators', creator.slug]">
            <img
              src="../../../assets/images/youtubers/{{creator.slug}}.png">
          </a>
        </div>
        <div class="col-12">
          <h3>{{creator.username}}</h3>
        </div>
        <div class="col-12">
          <p>{{creator.description}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- <div class="wrapper">
    <div class="container">
        <h2>RR: Content Creators</h2>
        <div class="infopart">
           <a href="https://www.youtube.com/channel/UCvYc0Q57Sxah8Nutq2vTjZQ"><img src="../../../assets/images/youtubers/jgigs.png"/></a>
            <h3>JGigs</h3><br>
            <p>description needs to be writen by content creator</p>
        </div>
        <div class="infopart">
            <a href="https://www.youtube.com/channel/UCvYc0Q57Sxah8Nutq2vTjZQ"><img src="../../../assets/images/youtubers/coldbrew.jpg"/></a>
             <h3>Cold Brew Gaming</h3><br>
             <p>I love cold brew coffee <br> Also I love games so grab your favorite cup of coffee and join me in gaming reviews, guides, tutorials and gameplay!</p>
         </div>
        <div class="infopart">
            <a href="https://www.youtube.com/channel/UCvYc0Q57Sxah8Nutq2vTjZQ"><img src="../../../assets/images/logo.png"/></a>
             <h3>Your youtube here?</h3><br>
             <p>If you want your youtube here feel free to message me on Discord : <span class="text-primary">Benn#2599</span></p>
         </div>
    </div>
  </div> -->
