<div class="wrapper">
  <div class="container">
    <ng-container *ngFor="let creator of creator|async">
      <h2> {{creator.username}} On RAIDRANKS.COM</h2>
      <p>{{creator.disc}}</p>
      <h2> {{creator.username}} Playlist</h2>
      <p>{{creator.playlistDisc}}</p>
          <div class="col-12">
        <iframe *ngIf="YoutubePlaylist" width="100%" height="600px" [src]="YoutubePlaylist" float="middle" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </ng-container>
  </div>
</div>

