<div class="wrapper">
    <div class="container"> 
        <div class="buttons">
            <button class="round-button"><a target="_self" href="/stier">S - TIER</a></button>
            <button class="round-button"><a target="_self" href="https://discord.gg/CXC2SP3">A - TIER</a></button>
            <button class="round-button"><a target="_self" href="https://discord.gg/CXC2SP3">B - TIER</a></button>
            <button class="round-button"><a target="_self" href="https://discord.gg/CXC2SP3">C - TIER</a></button>
      </div>    
        <div class="row">
          <h2>S TIER</h2>
        <h3>Legendaries</h3>
        <a href="/champion-details/high-elves/arbiter"> <img [src]="['../../..//assets/images/tierimg/arbiter.png']" alt=""><a href="/champion-details/high-elves/arbiter"></a><p>ARBITER</p></a>
        <a href="/champion-details/undead-hordes/bad-el-kazar"> <img [src]="['../../..//assets/images/tierimg/badelkazar.png']" alt=""><a href="/champion-details/undead-hordes/bad-el-kazar"></a><p>BAD-EL-KAZAR</p></a>
        <a href="/champion-details/lizardmen/dracomorph"> <img [src]="['../../..//assets/images/tierimg/dracomorph.png']" alt=""><a href="/champion-details/lizardmen/dracomorph"></a><p>DRACOMORPH</p></a>
        <a href="/champion-details/the-sacred-order/martyr"> <img [src]="['../../..//assets/images/tierimg/martyr.png']" alt=""><a href="/champion-details/the-sacred-order/martyr"></a><p>MARTYR</p></a>
        <a href="/champion-details/dark-elves/rae"> <img [src]="['../../..//assets/images/tierimg/rae.png']" alt=""><a href="/champion-details/dark-elves/rae"></a><p>RAE</p></a>
        <a href="/champion-details/barbarians/valkyrie"> <img [src]="['../../..//assets/images/tierimg/valkyrie.png']" alt=""><a href="/champion-details/barbarians/valkyrie"></a><p>VALKYRIE</p></a>
        <a href="/champion-details/the-sacred-order/venus"> <img [src]="['../../..//assets/images/tierimg/venus.png']" alt=""><a href="/champion-details/the-sacred-order/venus"></a><p>VENUS</p></a>
        <a href="/champion-details/dark-elves/vizier-ovelis"> <img [src]="['../../..//assets/images/tierimg/vizierovelis.png']" alt=""><a href="/champion-details/dark-elves/vizier-ovelis"></a><p>VIZIER OVELIS</p></a>
        <a href="/champion-details/orcs/warlord"> <img [src]="['../../..//assets/images/tierimg/warlord.png']" alt=""><a href="/champion-details/orcs/warlord"></a><p>WARLORD</p></a>
        <a href="/champion-details/dark-elves/zavia"> <img [src]="['../../..//assets/images/tierimg/zavia.png']" alt=""><a href="/champion-details/dark-elves/zavia"></a><p>ZAVIA</p></a> 
        <a href="/champion-details/sacred-order/sir-nicholas"> <img [src]="['../../..//assets/images/tierimg/SirNicholas.png']" alt=""><a href="/champion-details/sacred-order/sir-nicholas"></a><p>SIR NICHOLAS</p></a>
        <a href="/champion-details/the-sacred-order/roshcard-the-tower"> <img [src]="['../../..//assets/images/tierimg/Roshcard.png']" alt=""><a href="/champion-details/the-sacred-order/roshcard-the-tower"></a><p>ROSHCARD</p></a>
        <a href="/champion-details/skinwalkers/longbeard"> <img [src]="['../../..//assets/images/tierimg/Longbeard.png']" alt=""><a href="/champion-details/skinwalkers/longbeard"></a><p>LONGBEARD</p></a>
        <a href="/champion-details/ogryn-tribes/gurgoh-the-augur"> <img [src]="['../../..//assets/images/tierimg/Gurgoh.png']" alt=""><a href="/champion-details/ogryn-tribes/gurgoh-the-augur"></a><p>GURGOH</p></a>
        <a href="/champion-details/barbarians/altan"> <img [src]="['../../..//assets/images/tierimg/Altan.png']" alt=""><a href="/champion-details/barbarians/altan"></a><p>ALTAN</p></a>
        <a href="/champion-details/knight-revenant/hegemon"> <img [src]="['../../..//assets/images/tierimg/Hegemon.png']" alt=""><a href="/champion-details/knight-revenant/hegemon"></a><p>HEGEMON</p></a>
        <h3>EPICS</h3>
        <a href="/champion-details/high-elves/battlesage"> <img [src]="['../../..//assets/images/tierimg/battlesage.png']" alt=""><a href="/champion-details/high-elves/battlesage"></a><p>BATTLESAGE</p></a>
        <a href="/champion-details/the-sacred-order/juliana"> <img [src]="['../../..//assets/images/tierimg/juliana.png']" alt=""><a href="/champion-details/the-sacred-order/juliana"></a><p>JULIANA</p></a>
        <a href="/champion-details/dark-elves/madame-serris"> <img [src]="['../../..//assets/images/tierimg/madameserris.png']" alt=""><a href="/champion-details/dark-elves/madame-serris"></a><p>MADAME SERRIS</p></a>
        <a href="/champion-details/knight-revenant/miscreated-monster"> <img [src]="['../../..//assets/images/tierimg/miscreatedmonster.png']" alt=""><a href="/champion-details/knight-revenant/miscreated-monster"></a><p>MISCREATED M.</p></a>
        <a href="/champion-details/knight-revenant/skullcrown"> <img [src]="['../../..//assets/images/tierimg/skullcrown.png']" alt=""><a href="/champion-details/knight-revenant/skullcrown"></a><p>SKULLCROWN</p></a>
        <a href="/champion-details/ogryn-tribes/skullcrusher"> <img [src]="['../../..//assets/images/tierimg/skullcrusher.png']" alt=""><a href="/champion-details/ogryn-tribes/skullcrusher"></a><p>SKULLCRUSHER</p></a>
        <a href="/champion-details/skinwalkers/steelskull"> <img [src]="['../../..//assets/images/tierimg/steelskull.png']" alt=""><a href="/champion-details/skinwalkers/steelskull"></a><p>STEELSKULL</p></a>
        <a href="/champion-details/high-elves/tayrel"> <img [src]="['../../..//assets/images/tierimg/Tayrel.png']" alt=""><a href="/champion-details/high-elves/tayrel"></a><p>TAYREL</p></a>
        <a href="/champion-details/ogryn-tribes/occult-brawler"> <img [src]="['../../..//assets/images/tierimg/OccultBrawler.png']" alt=""><a href="/champion-details/ogryn-tribes/occult-brawler"></a><p>OCCULT BRAWLER</p></a>
        <a href="/champion-details/orcs/vrask"> <img [src]="['../../..//assets/images/tierimg/Vrask.png']" alt=""><a href="/champion-details/orcs/vrask"></a><p>VRASK</p></a>
        <h3>RARE</h3>
        <a href="/champion-details/high-elves/apothecary"> <img [src]="['../../..//assets/images/tierimg/Apothecary.png']" alt=""><a href="/champion-details/high-elves/apothecary"></a><p>APOTHECARY</p></a>
        <a href="/champion-details/ogryn-tribes/bellower"> <img [src]="['../../..//assets/images/tierimg/Bellower.png']" alt=""><a href="/champion-details/ogryn-tribes/bellower"></a><p>BELLOWER</p></a>
        <a href="/champion-details/dark-elves/coldheart"> <img [src]="['../../..//assets/images/tierimg/Coldheart.png']" alt=""><a href="/champion-details/dark-elves/coldheart"></a><p>COLDHEART</p></a>
        <a href="/champion-details/dark-elves/kael"> <img [src]="['../../..//assets/images/tierimg/Kael.png']" alt=""><a href="/champion-details/dark-elves/kael"></a><p>KAEL</p></a>



    </div>
    </div>
  </div>



      