@import 'variables';
.wrapper {
  overflow: auto;
  height: 100%;
  padding-bottom:100px;
}
.container {
  width:100%;
}
.nav-link {
  color:white;
  cursor:pointer;
}


h2 {
    font-size:34px;
    text-align: center;
    margin-top:25px;
    margin-bottom:8px;
    width:100%;
    border-bottom:1px solid rgba(white, .7);
  }

  h3 {
    font-size:34px;
    text-align: center;
    margin-top:25px;
    margin-bottom:25px;
    width:100%;
    color: white;
    text-decoration: underline;;
  }

p{
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
}

  img {
    width:100%;
    max-width:100px;
    margin:0 auto;
    display:block;
    border-radius: 8px;
    margin-left: 21px;
    margin-right: 21px;
    border: 2px solid rgba(rgb(246, 242, 242), .75);
    box-shadow: 0 5px 30px rgba(rgba(144, 144, 144, 0.356), .75);
  }



  .row {
      align-content: center;
 }
 

 .round-button {
    width:100%;
    margin:auto;
    width:25%;
    height:40px;
    color: white;
    text-align:center;
    text-decoration:none;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    transition: 0.7s;
    background-color: #0000002d;
    border: 2px solid #007bff;
    transition: 0,3s;
  }
.round-button:hover {
    background: #ffffff;
    text-decoration: none;
}

a:link {
  text-decoration: none;
}
