@import 'variables';

.navigation {
  height: 100%;
  width: 100%;
  position: fixed;
  background: $background-gradient-primary3;
  display: flex;
  flex-direction: column;
  z-index: 9;
  font-size: 14px;
  border-right: 1px solid rgba($color-primary, .2);
  transform:translateX(-100%);
  transition:transform .25s ease-in-out;
  &.is-active {
    transform:translateX(0%);
    .nav-toggle {
      right: 5%;
    }
  }

  img {
    width:100%;
    max-width:150px;
    margin: 25px auto;
    opacity: 0.5;
    transition: ease-in-out .8s;
    border: 0;
    outline: none;
    text-decoration: none;
  }


  
  img:hover {
    opacity: 1;
    transition: ease-in-out .8s;
    cursor: pointer;
    border: 0;
    outline: none;
    text-decoration: none;
  }


  span {
    color: $color-primary;
    cursor: pointer;
  }

  .ng-fa-icon {
    width: 30px;
    display: inline-block;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba($color-background2, .75);
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-in-out;

    &.active {
      max-height: 42vw;
    }
  }

  span,
  a {
    padding:10px 15px;
    border-bottom: 1px solid rgba($color-primary, .2);
    font-size: 15px;
  }

  .nav-toggle {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: $color-primary;
    position:fixed;
    right:-95%;
    bottom:15px;
    transition:right .35s ease-in-out;
    .ng-fa-icon {
      width:auto;
    }
  }
}

@media all and (min-width:992px) {
  .navigation {
    width: 330px;
    font-size: 13px;
    position: relative;
    transform:translateX(0%);
    .nav-toggle {
      display:none;
    }
  }
}
