<div class="navigation" [ngClass]="{'is-active': navigationActive}">
  <team-builder></team-builder>




  <a href="/home" target="_self"><button class="dropbtn"><fa-icon [icon]="faArchway"></fa-icon>Home</button></a>
  <a href="/champions" target="_self"><button class="dropbtn"><fa-icon [icon]="faSwords"></fa-icon>Champions</button></a>

  
  <div class="dropdown">
    <a href=" " target="_self"><button class="dropbtn" ><fa-icon [icon]="faTools"></fa-icon>RR: Collections</button></a>
    <div class="dropdown-content">
      <a href="/teams" target="_self"><button class="dropbtn"><fa-icon [icon]="faUsersMedical"></fa-icon>Team Builder</button></a>
      <a href="/roster" target="_self"><button class="dropbtn"><fa-icon [icon]="faUsers"></fa-icon>Roster</button></a>
    </div>
  </div>

    <div class="dropdown">
      <button class="dropbtn"><fa-icon [icon]="faTools"></fa-icon>RR: Tools</button>
      <div class="dropdown-content">
        <a href="/deals" target="_self"><button class="dropbtn"><fa-icon [icon]="faUsdCircle"></fa-icon>Deal Value Calculator</button></a>
        <a href="/food" target="_self"><button class="dropbtn"><fa-icon [icon]="faHamburger"></fa-icon>Food Calculator</button></a>
      </div>
    </div>


    <a href="/leaderboards" target="_self"><button class="dropbtn"><fa-icon [icon]="faBoxingGlove"></fa-icon>Clan Boss Leaderboards</button></a>
    <a href="/faq" target="_self"><button class="dropbtn"><fa-icon [icon]="faQuestion"></fa-icon>Info & FAQ</button></a>
    <a href="/shards" target="_self"><button class="dropbtn"><fa-icon [icon]="faGem"></fa-icon>Shards Simulator</button></a>






      <div class="dropdown-content">
        <a [routerLinkActive]="'is-active'" [routerLink]="['deals']" (click)="toggleNav()">
          <fa-icon [icon]="faUsdCircle"></fa-icon>
          <span>Deal Value Calculator</span>
        </a>
        <a [routerLinkActive]="'is-active'" [routerLink]="['food']" (click)="toggleNav()">
          <fa-icon [icon]="faHamburger"></fa-icon>
          <span>Food Calculator</span>
        </a>
        <a [routerLinkActive]="'is-active'" [routerLink]="['ascension-calc']" (click)="toggleNav()">
          <fa-icon [icon]="faHamburger"></fa-icon>
          <span>Ascension Calculator</span>
        </a>
            
      </div>
    </div>
    <a [routerLinkActive]="'is-active'" [routerLink]="['leaderboards']" (click)="toggleNav()">
      <fa-icon [icon]="faBoxingGlove"></fa-icon>
      <span>Clan Boss Leaderboards</span>
    </a>
    <a [routerLinkActive]="'is-active'" [routerLink]="['faq']" (click)="toggleNav()">
      <fa-icon [icon]="faQuestion"></fa-icon>
      <span>Info & FAQ</span>
    </a>
    <a [routerLinkActive]="'is-active'" [routerLink]="['/shards']" (click)="toggleNav()">
      <fa-icon [icon]="faGem"></fa-icon>
      Summon Champions
    </a>
  </div>

  <div *ngIf="rosterPage" class="roster">
    <button class="btn btn-outline-primary btn-block mt-3" (click)="addChampionsToRoster()">
      <fa-icon [icon]="faPlus"></fa-icon>
      Add to Roster
    </button>
    <button class="btn btn-outline-primary btn-block" (click)="shareRoster()">
      <fa-icon [icon]="faShareAlt"></fa-icon>
      Publish Roster
    </button>
  </div>

  <div *ngIf="rosterMode" class="roster-mode">
    <h5>Roster Mode Active</h5>
    <button class="btn btn-outline-danger" (click)="exitRosterMode()">Exit</button>
  </div>

  <div class="nav-toggle" (click)="toggleNav()">
    <fa-icon *ngIf="!navigationActive" [icon]="faBars"></fa-icon>
    <fa-icon *ngIf="navigationActive" [icon]="faTimes"></fa-icon>
  </div>
</div>
